{% extends 'main/layout.html' %}

{% block title %}About Us{% endblock %}

{% block content %} 
    <div class="features">
        <h1>About Us</h1>
        <p>В качестве алгоритма формы выступает пародическое использование, имитация исторических преданий, легенд, натуральных очерков и т. п. В ходе импровизированных семиотических преобразований[2] рождается текст, который, вызывая катарсис, доставляет эстетическое удовольствие. Упрощённо говоря, анекдот — это бессознательно проступающее детское речевое творчество. Возможно, отсюда характерное старинное русское название — байка[3].
В России XVIII—XIX вв. (и в многочисленных языках мира до сих пор) слово «анекдот» имело несколько иное значение — это могла быть просто занимательная история о каком-нибудь известном человеке, необязательно с задачей его высмеять (ср. у Пушкина: «Дней минувших анекдоты»). Классикой того времени стали называть такие «анекдоты» про Потёмкина.</p>
        <button class="btn btn-danger">Button</button>
    </div>
{% endblock %}