{% extends 'main/layout.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="features">
        <h1>Main Page</h1>
        <p>Анекдо́т (фр. anecdote — краткий рассказ об интересном случае; от греч. τὸ ἀνέκδοτоν — не опубликовано, букв. «не изданное»[1]) — фольклорный жанр, короткая смешная история, обычно передаваемая из уст в уста. Чаще всего анекдоту свойственно неожиданное смысловое разрешение в самом конце, которое и рождает смех. Это может быть игра слов или ассоциации, требующие дополнительных знаний: социальных, литературных, исторических, географических и т. д. Тематика анекдотов охватывает практически все сферы человеческой деятельности. В большинстве случаев авторы анекдотов неизвестны.</p>
        <button class="btn btn-warning">Button</button>
    </div>
{% endblock %}
